<%= turbo_frame_tag @denomination do %>
    <div class='hover:cursor-grab flex justify-between items-center px-4 py-5 border border-gray-600 rounded bg-white dark:bg-gray-800 duration-500 transition-colors' data-id="<%= @denomination.id %>">
        <%= render 'inline_form', denomination: @denomination %>
    </div>
<% end %>
