<%= turbo_frame_tag @denomination do %>
  <div class="flex justify-between items-center px-6 py-4 bg-gray-50 dark:bg-gray-800 transition-colors">
    <%= render 'inline_form', denomination: @denomination %>
  </div>
<% end %>