<div class='w-[90%] max-w-xl'>
  <%= render 'form',
      wine: WineOriginDenomination.new,
      url: admin_denominations_path,
      message: t('.title') %>
  <%= link_to t('wine_origin_denominations.common.back'),
      admin_denominations_path,
      class: 'underline underline-blue-800 text-blue-600' %>
</div>
