 <div class="relative w-full h-full max-w-2xl print:max-w-[80%]" data-controller="scroll navbar">
    <div data-navbar-target="trigger"></div>
    <div
        class="absolute w-full max-w-2xl top-[-1px] -translate-y-[500px]  transition-all z-10 border-t border-gray-100 dark:border-gray-100/25 bg-white dark:bg-gray-800 flex justify-evenly content-center items-center gap-2 py-4 duration-200 shadow-md"
        data-navbar-target="navbar"
    >
        <%= render "public/products/dishes/daily/category_links" %>
    </div>
  <div class="p-3 space-y-4">
    <%= render "public/products/dishes/daily/dishes" %>
    <%= turbo_frame_tag :modal %>
  </div>
</div>
