<%= turbo_stream_from "restaurant_#{params[:restaurant_id]}_dishes" %>

 <div class="relative w-full h-full print:max-w-[80%]">
  <div class="p-3 space-y-4">
    <%= render "dishes/menu_categorized_dishes" %>
  </div>
</div>
