<div class="flex flex-col w-[90%] max-w-2xl">
  <%= render 'form', dish: @dish, special_menu: @special_menu, message: 'Engadir plato' %>
  <%= link_to "Atrás", special_menus_path, class: 'underline underline-blue-800 text-blue-600' %>
</div>
