<% if current_restaurant %>
  <div data-controller="admin-menu" class="">
    <!-- Floating open/close button -->
    <button class="fixed z-30 p-2 bg-white dark:bg-gray-800 text-gray-600 dark:text-white rounded-l-full shadow right-0 top-1/2 -translate-y-1/2 shadow-gray-400 print:hidden active:shadow-gray-700 hover:bg-gray-100 transition-all duration-500"
            data-action="click->admin-menu#toggle">
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke-width="4"
           stroke="currentColor"
           class="w-6 h-12 md:hidden animate-pulse">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
    </button>

    <!-- Menu with the links -->
    <div class="fixed bg-white top-0 right-0 shadow z-40 h-full min-w-[45%] md:min-w-[25%] ease-in-out p-5 translate-x-full dark:bg-gray-900 cubic-transition"
         data-admin-menu-target="items">
      <button class="mb-3 mr-8 select-none dark:text-white" data-action="click->admin-menu#toggle">
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="currentColor"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="w-10 h-10 dark:text-white">
          <path stroke="currentColor"
                fill="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
      <div class="h-full flex flex-col items-center">
        <%= render "/shared/items" %>
      </div>
    </div>
  </div>
<% end %>
