<% if current_restaurant %>
  <div data-controller="drag-menu">
    <!-- Open/Close button -->
    <button
        class="fixed z-50 p-2 bg-white dark:bg-gray-900 text-gray-600 dark:text-white rounded-l-full shadow-[-5px_0_10px_-3px_rgba(0,0,0,0.2)] print:hidden active:shadow-gray-600 hover:bg-gray-100 touch-manipulation transition-transform duration-300 ease-out"
        style="top: 50%; transform: translateY(-50%); right: 0;"
        data-drag-menu-target="handle"
    >
      <svg
          xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke-width="4"
           stroke="currentColor"
           class="w-6 h-12 md:hidden animate-pulse transition-transform duration-100 ease-out"
           data-drag-menu-target="icon"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
    </button>

    <!-- Admin menu -->
    <div class="fixed bg-white top-0 right-0 shadow z-40 h-full min-w-[45%] md:min-w-[25%] ease-in-out p-5 translate-x-full dark:bg-gray-900 transition-transform duration-300"
         data-drag-menu-target="menu"
    >
        <button class="mb-3 mr-8 select-none dark:text-white" data-action="click->drag-menu#closeMenu">
        <svg xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-10 h-10 dark:text-white">
            <path stroke="currentColor"
                fill="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12" />
        </svg>
        </button>
      <div class="h-full flex flex-col items-center">
        <%= render "/shared/items" %>
      </div>
    </div>
  </div>
<% end %>
