<% if current_restaurant %>
    <div data-controller="menu">
        <button class="fixed z-30 p-2 bg-white rounded-full shadow-md right-4 top-4 shadow-gray-400 print:hidden active:shadow-gray-700 hover:bg-gray-100" data-action="click->menu#toggle">
            <%= image_tag "menu.svg", width: 40, heigth: 40, class: "select-none", alt: "Botón de apertura do menú de opcións" %>
        </button>
        <div class="fixed bg-white top-0 right-0 shadow z-40 h-full min-w-[45%] md:min-w-[25%] ease-in-out p-5 translate-x-full dark:bg-gray-900 cubic-transition" data-menu-target="items">
            <button class="mb-3 mr-8 select-none dark:text-white" data-action="click->menu#toggle">
                <svg alt="Fechar menú de opcións" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 dark:text-white">
                    <path stroke="currentColor" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
            <div class="flex flex-col items-center">
                <%= render "/shared/items" %>
            </div>
        </div>
    </div>
<% end %>
