<button type="button"
        class="h-fit flex items-center hidden p-2 text-sm text-gray-600 bg-gray-200 rounded-full hover:bg-white/20"
        data-action="click->theme-switcher#toggle"
        data-theme-switcher-target="darkButton"
    >
  <%= image_tag "moon_2", class: "w-6 h-6", alt: t('.moon_icon') %>
</button>

<button type="button"
        class="h-fit flex items-center hidden p-2 text-sm text-white rounded-full bg-white/10 hover:bg-white/20"
        data-action="click->theme-switcher#toggle"
        data-theme-switcher-target="lightButton"
    >
  <%= image_tag "sun_2", class: "w-6 h-6", alt: t('.sun_icon') %>
</button>
