<div id="error_explanation" role="alert" aria-live="polite" class="bg-red-50 border border-red-200 text-red-700 px-4 py-3 rounded-lg">
    <h2 class='mb-2 font-semibold'>Se encontraron <%= @dish.errors.count %> errores en el formulario:</h2>
    <ul class="ml-5 list-disc">
        <% @dish.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
