<div class="flex flex-col w-[90%]">
  <%= render 'form', dish: @dish, message: 'Editar plato' %>
  <%= link_to "Atrás", dishes_control_panel_path(filter: @dish.category&.category_type || 'menu'), class: 'underline underline-blue-800 text-blue-600', data: { turbo: false } %>
</div>
