<div class='flex justify-between gap-2 px-4 py-6 border-t border-gray-100 text-brand-gray dark:text-gray-200 print:my-6 dark:border-gray-100/25 animate__animated animate__fadeIn animate__slower'>
  <div class="title price flex flex-col max-w-[72.5%]">
    <p class='text-2xl font-light playfare balance'>
        <%= translate("product.#{product.id}.title", product.title) %>
    </p>
  </div>
  <div class="flex self-center gap-1 text-2xl font-extralight">
    <%= number_with_precision(product.prize, precision: 2, separator: ",") %>
    <small class='text-sm italic text-black duration-500 font-extralight place-self-end dark:text-white'>
        <%= render_measure(product) %>
    </small>
  </div>
</div>
