<div class='flex justify-between gap-2 px-4 py-6 border-gray-100 bordebranr-t text-brand-gray print:my-6 dark:border-gray-100/25 animate__animated animate__fadeIn animate__slower'>
  <div class="title price flex flex-col max-w-[72.5%]">
    <p class='text-2xl font-light playfare balance'> <%= wine.name %></p>
    <% if wine.price_per_glass %>
      <div class="flex gap-2">
        <span class='self-end text-xs font-thin'> <%= translate("copa", "Dispoñible por copa") %>: </span>
        <p class='self-end font-light lato' id='per_glass'><%= number_to_currency(wine.price_per_glass, { unit: "€", separator: ",", format: "%n %u" }) %></p>
      </div>
    <% end %>
  </div>
  <div class="self-center text-2xl font-extralight">
    <%= number_with_precision(wine.price, precision: 2, separator: ",") %><small class='text-lg text-black font-extralight dark:text-white'>€</small>
  </div>
</div>
