<div class="flex flex-col w-[90%] mb-20">
  <%= render 'form',
      wine: @wine,
      denominations: @denominations,
      message: t('wines.form.title.edit') %>
  <%= link_to t('wines.common.back'),
      wines_control_panel_path,
      class: 'underline underline-blue-800 text-blue-600' %>
</div>
